.category {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  position: relative;
  &__items--active::after {
    content: "asdfsadf";
    display: block;
    border: 5px solid red;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(50%);
  }
}
